*{ background-color: 
    
}
/* header */
.header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin: 0px;
}
/* nav */
.nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
    align-items: center;

    
}
.nv-bt{
     background-color: rgb(230, 83, 60);
      color: #FFFFFF;
      padding: 10px 40px;
      border-radius: 20px;
      font-size:medium;
      
}
.nav-00{
    color: orangered;
    font-weight:bolder;
    font-size:x-large;
}
.nav-01{
    display: flex;
    gap: 0px 30px ;
    border: 2px solid;
    border-color:  rgb(105, 104, 104);
    border-radius: 90px;
    padding: 0px 0px;
    align-items: center;
    color: #FFFFFF;
}
.nav-01-01{
    background-color: orange;
    border-radius: 28px;
    padding:9px 19px ;
    margin: 0px;
}
.nav-01-02{
    padding:9px 19px ;
    margin: 0px;
    border-radius: 17px;
}
/* head */

.banner{ display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20%;
    margin: 30px;
    padding: 20px;
    align-items: center;
    
}
.ban-h{
    color: #FFFFFF;
}
.big-l{
    font-size: 978px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
}

.ban-000{
    background-color: rgb(199, 95, 21);
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.font-al{  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 400;
    font-style: normal;
  
  

}
.nv-btn{background-color: rgb(17, 17, 17);
    padding: 10px 40px;
    border-radius: 20px;
    color: aliceblue;
    font-size:medium;

}
.banner-02{ 
    position: relative;
    

}
.sec-01-00{
    position:absolute;
    bottom:40px;
    left:-60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 9px;
    box-sizing: ;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
    
}
.sec-01-01{
    position:absolute;
    top:120px;
    right: 100px;
   padding: 2px 6px;

    box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);


}
#body{
    background-color: #141414;
}
/* section-0 */

.sec-0{
    text-align: center;
    margin:50px 150px;
    
   
}
.sec-0-1{
     padding: 0px 50px 20px 50px;
    
}
.sec-0-2{
     display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    column-gap: 16px;
   
}


.se-0-img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
/* section-01 */
.sec-01{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10%;
    text-align: center;
    margin:50px 150px;
  
    border-radius: 18px;
    padding: 30px;
    background-color: rgb(34, 34, 34);
}
.sec-h-00-0{
    color: rgb(255, 255, 255);
}
.sec-p-00-0{
   color:rgba(255, 255, 255, 0.5);

}
.sec-b-00-0{
    background-color: rgb(230, 83, 60);
      color: #FFFFFF;
      padding: 10px 40px;
      border-radius: 20px;
      font-size:medium;
      
}
.sec-div{
    text-align: left;
}

.sec-01-img{
    position:relative;
    left: 0px;
    size: cover;
    height: 266px;
    width: 100%;
    border-radius: 17px;
    
    

    
}
/* section-03 */

.sec-03{
    text-align: center;
}
/* section-04 */
.sec-04{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    padding: 20px 70px;
    background-color: rgb(34, 34, 34);
    color: white;
    }
.sec-04-01{
    

    
}
.thh{
    padding: 20px;
}
.sec-04-input{
    
position:static;


display: flex;
 flex-direction:column;
 align-items: flex-start;
 gap: 2px;
 

}
.singel-input{
    background-color: rgba(255, 255, 255, 0.1);
    margin:2px;
    border-radius: 12px;
    padding: 12px;
    height: 10px;
    
   
   
}

.input-div{
}
.btn-sec-04{  background-color: rgb(230, 83, 60);
    color: #FFFFFF;
    padding: 10px 40px;
    border-radius: 20px;
    font-size:medium;
    margin: 15px;
    direction: none;
    
}

.table00{
    border-collapse: collapse;
    
    height: 180px;
   
    
}
 /* section-05 */
 
    


 .sec-4-5 {text-align: center;
    margin: 60px;
 }
 
.sec-05{
    margin:50px 150px;
  
    border-radius: 18px;
    padding: 30px;
    background-color: rgb(34, 34, 34);
}

    .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
gap: 12px;
position: relative;
    
   
}


.team-member{
    position: relative;
}
.trainer{
    position: absolute;
    bottom:0px
}
.trainer-image{
    border-radius: 18px;
}
    
 
/* section extra */
.section-extra{
    text-align: center;
    margin:50px 150px;
  
    border-radius: 18px;
    padding: 30px;

}
.sec-extra-div-000{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 12px;
    
}
.sec-extra-div-001{
    
  
    border-radius: 18px;
    padding: 5px;
    background-color: rgb(34, 34, 34);

}
/* footer */
.foot{
    padding: 90px 90px 0 90px;
    margin-top: 30px;
    background-color:#141414;
    text-decoration: none;
    
   

}
.foot-div{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    color: rgba(255, 255, 255, 0.5);
    padding:0px 190px 10px 190px;

   
}
.ft-h{
    color: rgb(230, 83, 60);
}
.ft-div-0{
    display:grid;
    text-decoration: none;
}
.ft-div-0-0{
    display:grid;
    text-decoration: none;
    color:wheat;
}

.ft-div-02{
    text-align: center;
   
    color:  rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.ft-last{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5);
}
.last{
    color: wheat;
}
.harf{
    padding: 0px 100px;
    color: rgba(255, 255, 255, 0.5);

}

.para{
    color: rgba(255, 255, 255, 0.5); 
}







@media screen and (max-width:576px) {

    .banner{ display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20%;
        margin: 30px;
        padding: 20px;
        align-items: center;
    }


    .sec-01{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .sec-0-2{
        display: grid; 
       grid-template-columns: repeat(1, 1fr); 
       margin: 30px;
   }
   .foot-div{
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    
    
    border: 5px solid black;
}
.sec-04{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .sec-05-01{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        background-image: ;
        
        column-gap: 60px;
        row-gap: 40px;
     }
}



